@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script";
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* MyButton */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: "Nanum Pen Script";
}

.MyButton_default {
  background-color: #ececec;
  color: black;
}
.MyButton_positive {
  background-color: #64c964;
  color: white;
}
.MyButton_negative {
  background-color: #fd565f;
  color: white;
}

/* MyHeader */
header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}
header > div {
  display: flex;
}
header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}
header .head_btn_right {
  width: 25%;
  justify-content: end;
}

header button {
  font-family: "Nanum Pen Script";
}

/* DiaryList */

.DiaryList .menu-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.DiaryList .menu-wrapper .right-col {
  flex-grow: 1;
}
.DiaryList .menu-wrapper .right-col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  font-family: "Nanum Pen Script";
  font-size: 18px;
}

/* DiaryItem 감정이미지 */
.DiaryItem {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
}
.DiaryItem .emotion-img-wrapper {
  cursor: pointer;
  min-width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.DiaryItem .emotion-img-wrapper-1 {
  background-color: #64c964;
}
.DiaryItem .emotion-img-wrapper-2 {
  background-color: #9dd772;
}
.DiaryItem .emotion-img-wrapper-3 {
  background-color: #fdce17;
}
.DiaryItem .emotion-img-wrapper-4 {
  background-color: #fd8446;
}
.DiaryItem .emotion-img-wrapper-5 {
  background-color: #fd565f;
}

.DiaryItem .emotion-img-wrapper img {
  width: 50%;
}
/* DiaryItem 일기리스트 */
.DiaryItem .info-wrapper {
  flex-grow: 1;
  margin-left: 20px;
  cursor: pointer;
}
.DiaryItem .diary-date {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}
.DiaryItem .diary-content-preview {
  font-size: 18px;
}
/* DiaryItem 수정하기 버튼 */
.DiaryItem .btn-wrapper {
  min-width: 70px;
}

/* DiaryEditor */
.DiaryEditor {
}
.DiaryEditor section {
  margin-bottom: 40px;
}
.DiaryEditor h4 {
  font-size: 22px;
  font-weight: bold;
}
.DiaryEditor .input-date {
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  font-family: "Nanum Pen Script";
  font-size: 20px;
}
.DiaryEditor .emotion-list-wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}

.DiaryEditor textarea {
  font-family: "Nanum Pen Script";
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  min-height: 200px;
  resize: vertical; /* 세로로만 사이즈 조절 */
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 20px;
}

.DiaryEditor .control-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* EmotionItem */
.EmotionItem {
  cursor: pointer;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EmotionItem img {
  width: 50%;
  margin-bottom: 10px;
}
.EmotionItem span {
  font-size: 18px;
}

.EmotionItem-off {
  background-color: #ececec;
}
.EmotionItem-on-1 {
  background-color: #64c964;
  color: white;
}
.EmotionItem-on-2 {
  background-color: #9dd772;
  color: white;
}
.EmotionItem-on-3 {
  background-color: #fdce17;
  color: white;
}
.EmotionItem-on-4 {
  background-color: #fd8446;
  color: white;
}
.EmotionItem-on-5 {
  background-color: #fd565f;
  color: white;
}
